#sectionContato {
    width: 80%;
    padding: 40px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    max-width: 1200px;
    margin-bottom: 100px;
}

#sectionContato h2 {
    font-size: 2.7em;
    margin-bottom: 40px;
    color: black; 
}

.contatoContainer {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap; 
    gap: 20px;
}

.contatoItem {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    transition: transform 0.3s ease;
    text-decoration: none;
    user-select: none; 
}

.contatoItem i {
    font-size: 2.5em;
    color: black;
    transition: transform 0.3s ease;
}

.contatoTexto h3, .contatoTexto p {
    color: black; 
    margin: 0;
    text-align: left;
}

.contatoItem:hover {
    transform: scale(1.1);
}

.contatoItem:hover i {
    transform: scale(1.2);
}

.contatoItem:focus,
.contatoItem a:focus,
.contatoItem:active,
.contatoItem a:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    text-decoration: none !important;
}
